.contact-line {
  position: absolute;
  height: 7px;
  width: 35%;
  opacity: 0.4;
  left: 2%;
  top: 10%;
  background-color: #007bff !important;
}

.contact-title {
  font-size: 14px;
  font-weight: 650;
  color: black;
}

.contact-list {
  font-size: 14px;
  list-style: none;
  margin-left: -40px !important;
}
