<div class="container right-container">
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <h4>About Me</h4>
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="about-me">
        <p class="about-me-description">
          Hi, I'm Fatih Küçük, software developer from Turkey, Istanbul. I
          graduated with a dual degree in Computer Engineering and Electronics &
          Communications Engineering from Dogus University in 2018. I started to
          work as a software developer in TCM Bilisim ve Danismanlik Hizmetleri
          A.Ş.
        </p>
        <p class="about-me-description">
          TCM Bilisim taught me a lot for my first job experience. I gained a
          lot of experience in the project I worked on. Our developer team
          consisted of 8 people and we were doing Real Estate Management project
          for Rönesans Gayrimenkul Yatırım A.Ş. My job was to convert design
          mockups into code by using Angular 4, HTML5, CSS3, Bootstrap and
          Angular Material. In addition, I was helping the backend team by
          coding some custom backend services(C# Web API) when it was needed in
          our project. My project leader,
          <a href="http://onurvatan.com/">Onur Devrim Vatan</a> was a very
          experienced developer. He raised me by teaching me a lot while I was
          working at TCM. I am grateful to him.
        </p>

        <p class="about-me-description">
          After working 21 months for TCM Bilisim, I've started working in
          Huawei Turkey R & D center as a Frontend Developer on 08.01.2019.
          After I started working at Huawei, I was included in a newly founded
          team. This team consisted of 3 people and they were developing a
          module called Workorder, which will be used by Huawei's own employees.
          The web technology used was Vue.js and they asked me to learn Vue.js
          and adapt to the team. I learned Vue.js in one week and started
          getting real tasks from the project. I still keep working with the
          same team. It is very nice to work in the R & D center of a global
          company like Huawei.
        </p>
      </div>
    </div>
  </div>
</div>
