<div class="container right-container">
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <!--         <span class="contact-line"></span>
 -->
        <h4>About Me</h4>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="about-me">
        <p class="about-me-description">
          Hi, I'm Fatih Küçük, software developer from Turkey, Istanbul. I graduated with a dual degree in Computer Engineering and
          Electronics & Communications Engineering from Dogus University in 2018. I've been working as a software developer
          in TCM Bilisim ve Danismanlik Hizmetleri A.Ş. since 26.12.2017. I have rich experience in Angular 2+, HTML, CSS
          and Bootstrap.
        </p>
        <p class="about-me-description">Our developer team consists of 8 people and we are doing Real Estate Management project for Rönesans Gayrimenkul
          Yatırım A.Ş. My job is turning design mockups into code by using Angular 4, HTML5, CSS3, Bootstrap and Angular
          Material. In addition, I code some custom backend services(C# Web API) when its needed in our project.</p>

        <p class="about-me-description"> I love single page applications, web design and software.</p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--       <span class="contact-line"></span>
 -->
      <h5>
        <u>Contact Informations</u>
      </h5>
      <ul class="contact-list">
        <li>
          <span class="contact-title">Address:</span> Üsküdar/İstanbul-Turkey</li>
        <li>
          <span class="contact-title">Phone:</span> +90 534-877-47-37</li>
        <li>
          <span class="contact-title">E-mail:</span> 1fatihkucuk@gmail.com</li>
        <!--           <div class="social-icons top_15">
            <a class="ins" href="https://www.instagram.com/fatih._.kucuk/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div> -->
      </ul>
    </div>
  </div>
</div>