.nav-fonts {
  font-size: 10px;
  text-align: center;
}

.list-group-item {
  position: relative;
  height: 80px;
  width: 100%;
}

.navigation-list-group :hover {
  transition: 375ms;
  color: #007bff;
  cursor: pointer;
}

.list-container {
  padding: 0 0 !important;
}

.list-group-item .nav-icon,
.list-group-item .nav-icon-description {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.nav-icon {
  top: 25% !important;
}

.nav-icon-description {
  font-size: 16px !important;
}

.selected {
  color: #007bff;
}

@media only screen and (max-width: 767px) {
  .navigation-list-group {
    flex-direction: row !important;
  }
}
