<ul class="list-group navigation-list-group">
  <li
    class="list-group-item"
    (click)="itemClicked('aboutMeClicked')"
    [ngClass]="{ selected: pageMode === 0 }"
  >
    <span class="nav-icon-description">About</span>

    <span class="fa fa-user nav-icon"> </span>
  </li>
  <li
    class="list-group-item align-items-center"
    [ngClass]="{ selected: pageMode === 1 }"
    (click)="itemClicked('resumeClicked')"
  >
    <span class="fa fa-clipboard nav-icon"></span>
    <span class="nav-icon-description">Resume</span>
  </li>
  <li
    class="list-group-item"
    (click)="itemClicked('contactClicked')"
    [ngClass]="{ selected: pageMode === 4 }"
  >
    <i class="fa fa-phone nav-icon"></i>
    <span class="nav-icon-description">Contact</span>
  </li>
</ul>
