.dashboard-container {
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.profile {
  z-index: 999;
}

.content-body {
  background: linear-gradient(to bottom right, #50a3a2 0%, #2eca7f 100%);
}

@media only screen and (min-width: 768px) {
  .profile {
    margin-left: -20px;
  }

  .content {
    margin-left: -40px;
  }

  .dashboard-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
