<div class="container right-container">
  <div class="row header">
    <div class="col-md-12">
      <h4 class="margin-b-0">Recent Works</h4> <span><i>(for Rönesans Gayrimenkul Yatırım A.Ş)</i></span>
      <hr>
    </div>
  </div>
  <ng-template [ngIf]="myWorks?.length > 0">
    <div class="row" style="background-color: #f3fff9c7">
      <div *ngFor="let myWork of myWorks; let i = index" class="col-md-6">
        <div class="test margin-t-30">
          <a (click)="openDialog(myWork?.imagePath)" (mouseenter)="myWork.displayImageIcon = true" (mouseleave)="myWork.displayImageIcon = false"
            style="cursor: pointer">
            <img [ngStyle]="{'opacity': myWork?.displayImageIcon ? '1' : '0.7'}" [attr.src]="myWork?.imagePath" alt="image not found">
            <i *ngIf="myWork?.displayImageIcon" class="fa fa-image image-icon"></i>
          </a>

        </div>
        <div class="img-desc">
          <p class="text-center margin-b-0">{{ myWork?.name }}</p>
          <p class="text-center">
            <i class="description">{{ myWork?.description }}</i>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</div>